{% load static %}
{% load param_change %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Hello World test!!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="{% static 'shop/js/index.js' %}"></script>

</head>
<body>

    <h1 class="bg-primary">
        <a class="text-white" href="{% url 'shop:index' %}">通販サイト</a>
    </h1>

    <main class="container">
        
        <h2>検索</h2>
        
        {# TODO:ここで検索をする時、JavaScriptを使って、パラメータを両立させる #}
        <form action="">
            <select name="category">
                <option value="">カテゴリ</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if request.GET.category == category.str_id %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
            <input type="text" name="search" placeholder="商品名" value="{{ request.GET.search }}">

            {# TODO:先に価格帯を選ぶと、検索後に価格帯の指定が無くなる #}
            {# <input type="submit" value="検索"> #}
            <input id="search" type="button" value="検索">
        </form>

        <h2>価格帯</h2>

        <div>
            <a class="btn btn{% if request.GET.min_price != '500'   %}-outline{% endif %}-primary" href="?{% url_replace request 'min_price' 500   %}">500~</a>
            <a class="btn btn{% if request.GET.min_price != '1000'  %}-outline{% endif %}-primary" href="?{% url_replace request 'min_price' 1000  %}">1000~</a>
            <a class="btn btn{% if request.GET.min_price != '5000'  %}-outline{% endif %}-primary" href="?{% url_replace request 'min_price' 5000  %}">5000~</a>
            <a class="btn btn{% if request.GET.min_price != '10000' %}-outline{% endif %}-primary" href="?{% url_replace request 'min_price' 10000 %}">10000~</a>
            <a class="btn btn{% if request.GET.min_price != '50000' %}-outline{% endif %}-primary" href="?{% url_replace request 'min_price' 50000 %}">50000~</a>
        </div>
        <div>
            <a class="btn btn{% if request.GET.max_price != '500'   %}-outline{% endif %}-primary" href="?{% url_replace request 'max_price' 500   %}">~500</a>
            <a class="btn btn{% if request.GET.max_price != '1000'  %}-outline{% endif %}-primary" href="?{% url_replace request 'max_price' 1000  %}">~1000</a>
            <a class="btn btn{% if request.GET.max_price != '5000'  %}-outline{% endif %}-primary" href="?{% url_replace request 'max_price' 5000  %}">~5000</a>
            <a class="btn btn{% if request.GET.max_price != '10000' %}-outline{% endif %}-primary" href="?{% url_replace request 'max_price' 10000 %}">~10000</a>
            <a class="btn btn{% if request.GET.max_price != '50000' %}-outline{% endif %}-primary" href="?{% url_replace request 'max_price' 50000 %}">~50000</a>
        </div>


        <div class="row">
            {% for product in products %}
            <div class="col-sm-3 border">
                <div>{{ product.category.name }}</div>
                <div>発売日:{{ product.release }}</div>
                <div>{{ product.name }}</div>
                <div>{{ product.price }}円</div>
                <div class="text-center">
                    <input class="btn btn-outline-primary" type="button" value="カートに入れる">
                </div>
            </div>
            {% endfor %}
        </div>
    
    
    </main>




</body>
</html>

